a {
    text-decoration: none;
  }  
fieldset {
    width: 600px;
    height: 550px;
    border:#008CBA solid;
    margin:auto;
}
input {
    width: 27.7% ;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-color: #008CBA ;
    background-color: #e1eaf4 ;
    display: inline-block
    
} 
label {
    color : black ;
    width: 16% ;
    padding: 9px 12px;
    display: inline-block;
    margin: 8px 4px;
    margin-left: 50px ;
    text-align: center ;
}
.label1 {
    padding: 0px 0px ;
    width: 45% ;
    text-align: left ; 
    margin-left:  0px ;
}
.label2 {
    padding: 9x 12px ;
    width: 1% ;
    text-align: left ; 
    margin-left:  0px ;
}
.button1 {
    background-color: #008CBA;
    border-radius: 8px ;
    padding: 10px 40px ;
    border-color: #008CBA ;
    color: white;
    text-align: center;
}
.button2 {
    background-color: #92b1d6;
    color: white;
    border-color: #7790af;
    border-radius: 0;
}
select {
    background-color: #e1eaf4 ;
    width: 32%;
    border-color: #008CBA;
    color: black;
    padding: 10px 12px
}
th {
    width: 10% ;
    text-align: left ;
}
.th1 {
    width: 0% ;
    text-align: left ;
}